# DISCORD BOT TOKEN
# Va sur https://discord.com/developers/applications
# Clique sur ton application > Bot > Copy Token
DISCORD_TOKEN=VOTRE_TOKEN_ICI

# TON ID DISCORD (pour être admin)
# Clique droit sur ton nom dans Discord > Copier l'ID
ADMIN_ID=TON_ID_DISCORD_ICI

# CONFIGURATION (ne pas toucher)
NODE_ENV=production
